.box{
    width: 100px;
    height: 100px;
    background-color: purple;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    transition-property:all;
    transition-duration: 0.5s 1s;
    transition-timing-function: linear;
}
.box:hover{
    width: 200px;
    height: 200px;
    transition: 0.5s, 1s;
}